crontab -l for display
crontab -e for edit

* * * * *  curl http://localhost/timer/remind > cronremind.log
* * * * * sleep 10&&curl http://localhost/timer/remind >> cronremind.log
* * * * * sleep 20&&curl http://localhost/timer/remind >> cronremind.log
* * * * * sleep 30&&curl http://localhost/timer/remind >> cronremind.log
* * * * * sleep 40&&curl http://localhost/timer/remind >> cronremind.log
* * * * * sleep 50&&curl http://localhost/timer/remind >> cronremind.log
0,10,20,30,40,50 * * * * * curl http://localhost/timer > croncall.log

1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28,29,31,32,33,34,35,36,37,38,39,41,42,43,44,45,46,47,48,49,51,52,53,54,55,56,57,58,59  * * * *  curl http://localhost/timer/remind >> cronremind.log
0,10,20,30,40,50  * * * * curl http://localhost/timer >> croncall.log



----更新学生存储过程


------通过mysql 定时任务,每月更新学生的minsRemaining
SET GLOBAL event_scheduler = ON;
show variables like 'event_scheduler';



use mjs;
createevent e_student_minsRemaining_update
onschedule every 1 month
oncompletion preserve
do
call prod_minsRemaining_update();


