crontab -l for display
crontab -e for edit

每分钟执行
* * * * * curl http://localhost/timer >> croncall.log
每分钟执行
* * * * * curl http://localhost/timer/remind >> cronremind.log
每周一 00：00：01执行
1 0 * * 1 curl http://localhost/report >> cronremind.log


----更新学生剩余时间---

step 1.开启MYSQL定时任务设置
SET GLOBAL event_scheduler = ON;
show variables like 'event_scheduler';

step2 创建存储过程
use mjs;
-- --------------------------------------------------------------------------------
-- Routine DDL
-- Note: comments before and after the routine body will not be stored by the server
-- --------------------------------------------------------------------------------
DELIMITER $$

CREATE DEFINER=`root`@`localhost` PROCEDURE `student_tmm_proc`()
BEGIN
	declare v_tmm varchar(50);
	declare v_inx varchar(50);
	DECLARE not_found INT DEFAULT 0;
	
	declare studentCursor cursor 
		for 
			select inx
			from students t
			where period_diff(date_format(now(),'%Y%m'),date_format(t.membershipStartDate,'%Y%m')) <=t.membershipDur;
	DECLARE CONTINUE HANDLER FOR NOT FOUND SET not_found = 1;
	select d_value from configue_default where d_key="tmm" into v_tmm;
	open studentCursor;
	fetch studentCursor into v_inx;  
	while not_found<>1 do
		update students set totalMonthlyMins = v_tmm where inx = v_inx;
		fetch studentCursor into v_inx;  
	end while;
	close studentCursor;	

END

step3.创建定时任务

每个月的一号凌晨1 点执行  
use mjs;
CREATE  EVENT update_student_tmm     

ON SCHEDULE EVERY 1 MONTH STARTS DATE_ADD(DATE_ADD(DATE_SUB(CURDATE(),INTERVAL DAY(CURDATE())-1 DAY), INTERVAL 1 MONTH),INTERVAL 1 HOUR)  

ON COMPLETION PRESERVE   

DO CALL student_tmm_proc(); 

---删除计划任务  use mjs;DROP EVENT IF EXISTS student_tmm